.item-list-container {
    width: 50rem;
    margin-top: 20px;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(252,70,107,1) 100%);  
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    border-bottom: 2px solid #495057; 

}

.product-card {
    width: 18rem;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.product-card .product-image {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-card .card-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.product-card .btn-detail {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card .btn-detail:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.card-body {
    background-color: #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px;
}
