/* ItemListContainer.css */
.item-list-container {
    height: 500px;
    width: 50rem;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(45deg, #f7f7f7, #b7b7b7);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-list-container p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.item-list-container .card {
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-list-container .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-list-container .card-text {
    font-size: 16px;
    color: #333;
}

.item-list-container .list-group-item {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.item-list-container .list-group-item:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
