.navbar.barra {
    width: auto;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(252,70,107,1) 100%);
    padding: 10px 20px;
    border-bottom: 2px solid #495057; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed; 
    top: 15px; 
    left: 300px;
    right: 300px;
    z-index: 1000;
}

body {
    padding-top: 70px;
}


.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px;
    width: auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 8px;
    display: inline-block; 
    text-align: center; 
    font-weight: 600; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.btn-home {
    background-color: #007bff;
}

.btn-home:hover {
    background-color: #0056b3;
}

.btn-nosotros {
    background-color: #28a745;
}

.btn-nosotros:hover {
    background-color: #218838;
}

.btn-productos {
    background-color: #ffc107;
}

.btn-productos:hover {
    background-color: #e0a800;
}
