.barra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    background: linear-gradient(45deg, #f7f7f7, #b7b7b7);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-about {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.boton-product {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
}

.boton-contact {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
}

.boton:hover {
    opacity: 0.8;
}
