.barra {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px;
    width: auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 5px;
    display: inline-block; 
    text-align: center; 
}

.btn:hover {
    transform: scale(1.05);
}

.btn-home {
    background-color: #007bff;
}

.btn-home:hover {
    background-color: #0056b3;
}

.btn-nosotros {
    background-color: #28a745;
}

.btn-nosotros:hover {
    background-color: #218838;
}

.btn-productos {
    background-color: #ffc107;
}

.btn-productos:hover {
    background-color: #e0a800;
}
